name: Python Tests

on:
  pull_request:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "export PATH=$HOME/.local/bin:$PATH" >> $GITHUB_ENV
      - name: Install dependencies
        run: |
          poetry config virtualenvs.create false
          poetry install --no-root
      - name: Run tests
        env:
            PYTHONPATH: "${{ github.workspace }}/test"
        run: |
          python3 -m unittest test/test_alembic.py && python3 -m unittest test/test_rls.py